:root {
    /* Aquí hi van les variables */
    --color1: #0a0a1a;
    --color2: #141432;
    --color3: #1e1e5a;
    --color4: #4f46e5;
    --color5: #0A4769;
    --color6: #f4f4f5;

    --tipografia1: "Abril Fatface", serif;
    --tipografia2: "Cabin", sans-serif;
}

* {
    /* Aquí hi va el reset */
    margin: 0;
    padding: 0;
    border: 0;
}


    /* Aquí hi van propietats generals */

body {
    font-family: var(--tipografia1);
    background-color: var(--color1);
    color: var(--color6);
}

.projecte { 
    width: 360px;
    height: 300px;
    margin: 20px; 
    border-radius: 20px;
    background-color: var(--color2);
    float: left;
    list-style-type: none;
    text-align: center;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 5px 10px 0 var(--color3);
}

.projecte:hover {
    transform: scale(110%);
    transition: 0.5s;
    box-shadow: 0px 0px 10px var(--color4);
}

a {
    color: var(--color6);
    text-decoration: none;
    font-family: var(--tipografia2);
    font-size: 16px;
}

.menu a {
    margin: 16px;
}

a:hover {
    color: var(--color4);
}

a:active {
    color: var(--color4);
}

.cards {
    width: 1200px;
    margin: auto;
    overflow: hidden;
}


.cap{
    top: 0;
    background-color: var(--color1);
    border-bottom: 1px solid var(--color4);
    height: 80px;
    padding: 16px 32px;
}

.menu {
    float: right;
    margin: 30px 120px 0 0;
}

.cos {
    line-height: 1.7;
    color: #a1a1aa;
    margin-top: 32px;
    font-size: 16px;
}

.sobre-mi {
    background-color: var(--color2);
    color: var(--color6);
    display: block;
    justify-content: center;
    font-size: 20px;
    margin: 160px 0 0 0;
    height: 500px;
    padding-top: 80px;
}

.foto {
    border-radius: 50%;
    float: right;
    background-color: #a1a1aa;
    overflow: hidden;
    width: 320px;
    height: 320px;
    margin: -340px 180px 0 0;
}

.ilustracio {
    width: 832px;
    margin-left: -255px;
    margin-top: -12px;

}

.footer {
    top: 0;
    background-color: var(--color1);
    border-top: 1px solid var(--color4);
    height: 48px;
    padding: 16px 32px;
}

h1 {
    color: var(--color6);
    float: left;
    font-size: 24px;
    margin:25px 0 0 120px;
}

h2 {
    font-family: var(--tipografia1);
    color: var(--color6);
    text-align: left;
    font-size: 80px;
    margin-left: 150px;
    line-height: 1.1;
}

h3 {
    color: var(--color6);
    font-size: 56px;
    margin: 128px 0 0 192px;
}

h4  {
    font-size: 32px;
    color: var(--color4);
}

h5 {
    color: var(--color4);
    font-size: 32px;
}

h6 {
    color: var(--color6);
    font-family: var(--tipografia2);
    margin: 288px 0 0 0;
    text-align: center;
    clear: both;
    font-size: 40px;
}

.subtitol {
    text-align: center;
    margin: 192px 0 0 0;
}

.sobre-mi p {
    color: #a1a1aa;
    font-family: var(--tipografia2);
    width: 650px;
    margin: 50px 0 0 150px;
    font-size: 20px;
}
.footer p {
    font-size: 16px;
    color: var(--color6);
    float: left;
    margin-left: 30px;
    margin-top: 25px;
}

p {
    font-family: var(--tipografia2);
    color: var(--color6);
    font-size: 20px;
}

.peu {
    background-color: var(--color2);
    clear: both;
    height: 480px;
    margin: 128px 0 0 0;
}

.correu {
    float: left;
    text-align: center;
    width: 300px;
    margin: 80px 0 0 280px;
}

.centre {
    float: right;
    text-align: center;
    width: 300px;
    margin: 80px 280px 0 0;
}

.detalls {
    font-family: var(--tipografia2);
    margin: 16px;
    color: var(--color6);
    float: right;
    margin-right: 30px;
    margin-top: 30px;
}

.frase {
    border-radius: 20px;
    margin: auto;
    background-size: cover;
    background-position: center;
    width: 320px;
    height: 180px;
}

.i1 {
    background-image: url(../img/1.jpg);
}

.i2 {
    background-image: url(../img/2.jpg);
}

.i3 {
    background-image: url(../img/3.jpg);
}

.i4 {
    background-image: url(../img/4.jpg);
}

.i5 {
    background-image: url(../img/5.jpg);
}

.i6 {
    background-image: url(../img/6.jpg);
}

.i7 {
    background-image: url(../img/7.jpg);
}

.i8 {
    background-image: url(../img/8.jpg);
}

.i9 {
    background-image: url(../img/9.jpg);
}

.i10 {
    background-image: url(../img/10.jpg);
}

.i11 {
    background-image: url(../img/11.jpg);
}

.i12 {
    background-image: url(../img/12.jpg);
}

.i13 {
    background-image: url(../img/13.jpg);
}

.i14 {
    background-image: url(../img/14.jpg);
}

.i15 {
    background-image: url(../img/15.jpg);
}

.i16 {
    background-image: url(../img/16.jpg);
}

.i17 {
    background-image: url(../img/17.jpg);
}

.i18 {
    background-image: url(../img/18.jpg);
}




@media (max-width: 480px)

{

    .cap {
        height: 120px;
    }

    h1 {
        float: none;
        margin: 20px 0 0 0;
        text-align: center;
    }

    .menu {
        float: none;
        margin: 20px 0 0 0;
        text-align: center;
    }

    .sobre-mi {
        height: auto;
        padding: 40px 0;
        overflow: hidden;
    }

    .sobre-mi p {
        width: 300px;
        margin: 25px auto;
        text-align: center;
    }

    .foto {
        float: none;
        width: 220px;
        height: 220px;
        margin: 30px auto 0 auto;
        display: block;
    }

   .ilustracio {
        width: 450px;
        margin: 0 0 0 -110px; 
   }

    .cards {
        width: 320px;
        margin: auto;
        display: block;
    }

    .projecte {
        float: none;
        width: 300px;
        margin: 20px auto;
    }

    .frase {
        width: 260px;
        height: 150px;
    }

    .correu {
        width: 280px;
        float: none;
        margin: 30px auto;
    }

     
    .centre {
        width: 280px;
        float: none;
        margin: 30px auto;
    }

    .peu {
        height: auto;
        padding-bottom: 40px;
    }

    .peu p {
        font-size: 18px;
    }


    .footer {
        height: auto;
        text-align: center;
    }

    .footer p {
        float: none;
        margin: 10px 0;
    }

    .detalls {
        float: none;
        margin: 10px 0;
    }

    h6 {
        margin-top: 50px;
        font-size: 28px;
    }

    h2{
        width: 280px;
        margin: 0 auto;
        text-align: center;
        font-size: 36px;
        line-height: 1.2;
    }

    h5 {
        font-size: 24px;
    }

    h3 {
        margin: 50px 0 30px 0;
        text-align: center;
        font-size: 40px;
    }
}


@media (min-width:481px) and (max-width:1279px) 
 {

    .cards {
        width: 800px;
    }

    .projecte {
        width: 360px;
        margin: 20px;
    }
    
    h2 {
        font-size: 60px;
        margin-left: 50px;
    }

    .sobre-mi p {
        width: 500px;
        margin-left: 50px;
    }

    .foto {
        width: 250px;
        height: 250px;

        margin-right: 50px;
        margin-top: -280px;
    }

    .ilustracio {
        width: 700px;
        margin: -20px 0 0 -220px;
    }

    .correu {
        margin: 110px 0 0 80px;
    }

    .centre {
        margin: 110px 80px 0 0;
    }
}