@font-face {
    font-family: 'CRONDE';
    src: url('CRONDERegular.woff2') format('woff2'),
        url('CRONDERegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

