body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.logo    {
    height: 200px;
    width: 200px;
    margin: 20px auto;
    border-radius: 20%;
    background: navy;
    color: skyblue;
    text-align: center;
    font-size: 130px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 200px;
    align-content: center;
    letter-spacing: -4px;
}

.contenidor {
    width: 1100px;
    margin: 50px auto;

}

.efecte {
    width: 200px;
    height: 250px;
    margin: 10px;
    float: left;
}

.efecte img {
    width: 200px;
}

.efecte p {
    text-align: center;
}

.efecte input {
    width: 200px;
}

.desenfocar img {
    -webkit-filter: blur(10px);
       -moz-filter: blur(10px);
         -o-filter: blur(10px);
            filter: blur(10px);
}

.grisos img {
    filter: grayscale(100%);
}

.ombra img {
    filter: drop-shadow(6px 6px 6px purple);
}

.sepia img {
    filter: sepia(100%);
}

.lluminositat img {
    filter: brightness(200%);
}

.contrast img{
    filter: contrast(40%);
}

.to img {
    filter: hue-rotate(90deg);
}

.invertir img {
    filter: invert(100%);
}

.saturar img {
    filter: saturate(200%);
}

.opacitat img {
    filter: opacity(40%);
}

h1 {
    font-size: 48px;
    background: #ccc;
    clear: both;
}

.fruita {
    background-image:url(../img/maduixa.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 200px;
    margin: auto;
}

.superposada {
    background-image: url(../img/llimona.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 200px;
    margin: auto;
}

.multiplicar .superposada {
    mix-blend-mode: multiply;
}

.trama .superposada {
    mix-blend-mode: screen;
}

.superposar .superposada {
    mix-blend-mode: overlay;
}

.enfosquir .superposada {
    mix-blend-mode: darken;
}

.aclarir .superposada {
    mix-blend-mode: lighten;
}

.colormesfosc .superposada {
    mix-blend-mode: color-dodge;
}

.colormesclar .superposada {
    mix-blend-mode: color-burn;
}

.llumintensa .superposada {
    mix-blend-mode: hard-light;
}

.llumsuau .superposada {
    mix-blend-mode: soft-light;
}

.diferencia .superposada {
    mix-blend-mode: difference;
}

.exclusio .superposada {
    mix-blend-mode: exclusion;
}

.to .superposada {
    mix-blend-mode: hue;
}

.saturacio .superposada {
    mix-blend-mode: saturation;
}

.color .superposada {
    mix-blend-mode: color;
}

.lluminositat .superposada {
    mix-blend-mode: lighten;
}

/* --------Canviem els interruptors-------- */

.interruptor {
    width: 40px;
    height: 25px;
    background: plum;
    position: relative;
    border-radius: 12.5px;
    border: 1px solid rebeccapurple;
    margin: auto;
}
  
input[type=checkbox]{
    visibility: hidden;
}
  
label {
    display: block;
    width: 25px;
    height: 25px;
    background: orchid;
    position: absolute;
    border-radius: 12.5px;
    top: 0;
    left: 0;
    box-shadow: 5px 0 5px purple;
}
  
input[type=checkbox]:checked+label {
    display: block;
    width: 25px;
    height: 25px;
    background: purple;
    position: absolute;
    top: 0;
    left: 15px;
    box-shadow: -2px 0 2px orchid;
}

/* --------Canviem els tiradors-------- */

/* Fem invisible el tirador */

input[type=range] {
    margin-top: 20px;
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
}
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}
  
input[type=range]::focus {
    -webkit-appearance: none;
}
  
input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
}
  
/* Anem fent apareixer els diferents elements */
  
/* Fem apareixer la maneta*/
  
input[type=range]::-webkit-slider-thumb {
    border: 2.5px solid pink;
    height: 32px;
    width: 14px;
    border-radius: 1px;
    background: palevioletred;
    cursor: pointer;
    margin-top: -14px;
    box-shadow: 1px 1px 1px #000;
}
  
  /* Fem apareixer el carril */
  
input[type=range]::-webkit-slider-runnable-track {
    width: 50%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000;
    background: pink;
    border-radius: 1.3px;
    border: 2.5px solid palevioletred;
}
  
input[type=range]::-moz-slider-runnable-track {
    width: 50%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000;
    background: pink;
    border-radius: 1.3px;
    border: 2.5px solid palevioletred;
}
  
input[type=range]::-ms-slider-runnable-track {
    width: 50%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000;
    background: pink;
    border-radius: 1.3px;
    border: 2.5px solid palevioletred;
}
