body {
    margin: 0;
    font-family: Helvetica;
}

h1 {
    color: purple;
    text-align: center;
    text-shadow: 1px 1px 4px grey;
}

.contenidor {
    width: 1280px;
    margin: auto;
}

.cap {

    height: 120px;
}

.cos {
    overflow: auto;
    overflow: hidden;
    overflow: visible;
    overflow: scroll;
    height: 800px;
}

.peu {
    background-color: black;
    height: 300px;
}

li {
    background-color: white;
    height: 50px;
    width: 180px;
    margin: 10px;
    float: left;
}

.esquerra, .centre, .dreta {
    width: 20%;
    float: left;
}

.esquerra {
}

.centre {
    background-color: purple;
    width: 60%;
    height: 600px;
    overflow: scroll;
    color: white;
}

.dreta {
    background-color: yellowgreen;
}

p {
    text-indent: 50px;
    padding: 10px;
}

/* Codi del menú hamburguesa */

#alternador {
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    border-radius: 0.5rem;
}
  
#alternador label {
    width: 5rem;
    height: 4rem;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0.5rem;
    cursor: pointer;
    padding-top: 1rem;
    transition: all .5s ease;
    opacity: 1;
}
  
#alternador b {
    display: block;
    width: 4rem;
    height: 0.5rem;
    background: black;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    
}
  
input[type="checkbox"] {
    visibility: hidden;
}
  
* {
    font-family: Arial, Sans-serif;
}
  
#alternador ul {
    margin-top: 2rem;
    padding: 0;
    width: 8rem;
    overflow: hidden;
    top: 2.5rem;
}
  
#alternador li {
    list-style-type: none;
    background: maroon;
    margin: auto;
    border: 1px solid white;
    line-height: 3rem;
    padding: 0;
    width: 8rem;
    text-align: center;
    border-radius: 0.5rem;
    transform: scale(120%);
    height: 3rem;
    float: none;
}
  
#alternador  a {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
  
#alternador li:hover {
    background: lightcoral;
    box-shadow: inset 0 5px 5px maroon;
}
  
#alternador .desplega {
    position: absolute;
    left: -10rem;
    opacity: 1;
    transition: all .5s ease;
}
  
#alternador  h1 {
    text-align: center;
}
  
#alternador input[type=cehckbox]:checked+label {
    opacity: 1;
}
  
#alternador input[type=checkbox]:checked+label~.desplega {
    left: 0;
}


/* Elements responsius */

@media (max-width:480px) {
    #alternador {
        display: block;
    }

    .menuhoritzontal {
        display: none;
    }
}

@media (min-width:481px) and (max-width:1279px) {
    #alternador {
        display: block;
    }

    .menuhoritzontal {
        display: none;
    }
}


@media (min-width:1280px) {
    #alternador {
        display: none;
    }

    .menuhoritzontal {
        display: block;
    }
}